# Application
APP_KEY=your-secret-key-here

# Web Server
WEBSERVER_RESTAPI_ADDRESS=:8080

# Database
DATABASE_DRIVER=pgx
DATABASE_DSN=postgres://postgres:postgres@localhost:5432/marketplace_product?sslmode=disable
